<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>News TODO</h1>

          <!-- For Date purpose -->
          <!-- <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" /> -->
          <!-- <p-calendar [(ngModel)]="rangeDates" dateFormat="mm/dd/yy"></p-calendar> -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </body>
</html>
